body {
  /*background-color: rgb(30,25,25);*/
  background-color: rgb(10, 10, 10);
}

#content {
  padding-top: 0.25%;
  margin: auto;
  width: 90%;
}

@media only screen and (min-width: 600px) {
  #content {
    padding-top: 1.5%;
    margin: auto;
    width: 68%;
  }
}

@media only screen and (min-width: 1024px) {
  #content {
    padding-top: 3%;
    margin: auto;
    width: 32%;
  }
}

#content p {
  text-align: center;
  font-family: "Trade Gothic LT Com Roman", sans-serif;
  font-size: 16px;
  color: rgb(190, 190, 190);
  line-height: 26px;
  vertical-align: baseline;
}

@keyframes slidein {
  from {
    transform: translate3d(5vw, 0px, 0px);
    opacity: 0;
  }

  to {
    /*margin-left: 25%;
		/*width: 100%;*/
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

#content h2 {
  text-align: center;
  font-family: "TradeGothicLTComBoldCondensed20", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 2px;
}
#content h1 {
  text-align: center;
  font-family: "TradeGothicLTComBoldCondensed20", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 32px;
  letter-spacing: 3px;
  font-weight: 400;
}

#name {
  opacity: 0;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}
#jobtitle {
  opacity: 0;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}
#description {
  opacity: 0;
  animation-delay: 0.4s;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  margin: 30px 0;
}

#socialicons-text {
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

#socialicons-text p {
  font-weight: bold;
  margin: 0;
}

#socialicons {
  display: flex;
  justify-content: center;
  opacity: 0;
  text-align: center;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

#socialicons img {
  margin: 0.5em;
  height: 32px;
}

a:link {
  color: rgb(220, 220, 220);
  text-decoration: none;
}
a:visited {
  color: rgb(220, 220, 220);
  text-decoration: none;
}
a:hover {
  color: rgb(220, 220, 220);
  text-decoration: underline;
}

a:active {
  color: rgb(242, 102, 0);
  text-decoration: underline;
}

#footer-container {
  width: 70%;
  margin: auto;
  opacity: 0;
  animation-delay: 0.6s;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

#footer-elements {
  display: flex;
  justify-content: space-around;
}
